@import './_media_queries.scss';

.section_one{
    /* border: 2px solid rgb(8, 52, 231); */
    height: 90vh;
    width: 100%;
    

    .navbar{
        padding: 20px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 5px solid rgb(1, 5, 42);

        .imagen_logo{
            margin: 0;
            width: 100px;
            height: 50px;
            border: 2px solid black;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                }
        }

        ul{
            
            display: flex;
            text-decoration: none;
            list-style: none;

            border: 2px solid black;
            
            
            li{
                               
                a{
                    margin-right: 10px;
                    text-decoration: none;
                }
            }

        }

        
    }

    .imagen_servicio{

        margin: 0;
        border: 2px solid red;
        height: auto;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            }
    }
    //MIXINS PHONE TABLETS DESKTOP
    @include phone {
        .navbar{
            display: flex;
            flex-direction: column;

            .imagen_logo{
                width: 180px;
                height: 180px;
            }

            height: 35vh;
            .ulist{
                display: none;
            }
        }
    }
   
}