@import './media_queries';
.section_three{

   
    padding: 0;
    height: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-auto-rows:auto;

    font-size: 16px;
    text-align: center;
    color: rgb(4, 15, 12);

    border: 1px solid blue;

    .servicios_wrapper{
        border: 1px solid red;
        h2{
            width: 100%;
            margin-bottom: 50px;
            border: 1px solid black;
        }

        .imagen_servicios{
            position: relative;
            
            
    
            border: 1px solid red;
        
            img{
                object-fit: cover;
                width: 100%;
                height: 200px;
               
            }
            
            .servicios_introduccion{
                position: absolute;
                
        
                
                top: 10px;
        
                border: 1px solid red;
    
                .introduccion{
                    display: none;
                }

                
            }
            &:hover{
                border: 3px solid blue;
                transform: scale(1.2);
                transition: 1s;
                
                img{
                    opacity: 0.5;
                }
                .introduccion{
                    opacity: 10;
                    display: flex;
                    color: black;
                }
            }
        }

    }

    @include phone {
        display: flex;
        flex-direction: column;
    }


    



}

